header
div.container
  div.row.py-3
    div.col-xs-12.col-md-6.wow.fadeInLeft.text-xs-center
      br
      h2.display-5 Accommodations
        br
        small.text-muted Courtyard Mariott
        br
        a(href='https://www.google.com/maps/place/Courtyard+Cincinnati+Covington/@39.0881125,-84.5217984,17z/data=!3m1!4b1!4m5!3m4!1s0x8841b1358de7b3b3:0x78473d413e5b29cd!8m2!3d39.0881125!4d-84.5196097')
          address.h6
            |   500 W 3rd St
            br
            |  Covington, KY
            br
            |  41011
    div.col-xs-12.col-md-6.wow.fadeInLeft
      img(src='/assets/img/wedding/hotel.jpg').img-fluid.img-thumbnail
  div.row.h3.text-xs-center
    div.col-xs-12.h2.pt-3.pb-2 Eateries
    div.pic.col-xs-12.col-md-6.wow.fadeInLeft.text-xs-center.mb-1
      a(href='https://www.yelp.com/biz/bakersfield-otr-cincinnati-2')
        h4.title.display-5.text-muted Bakersfield
        img(src='/assets/img/places/bakersfield.png').img-fluid.rounded
    div.pic.col-xs-12.col-md-6.wow.fadeInLeft.text-xs-center.mb-1
      a(href='https://www.yelp.com/biz/the-eagle-otr-cincinnati')
        h4.title.display-5.text-muted The Eagle
        img(src='/assets/img/places/eagle.png').img-fluid.rounded
    div.pic.col-xs-12.col-md-6.wow.fadeInLeft.text-xs-center.mb-1
      a(href='https://www.yelp.com/biz/skyline-chili-covington-2')
        h4.title.display-5.text-muted Skyline
        img(src='/assets/img/places/skyline.png').img-fluid.rounded
    div.pic.col-xs-12.col-md-6.wow.fadeInLeft.text-xs-center.mb-1
      a(href='https://www.yelp.com/biz/sotto-cincinnati')
        h4.title.display-5.text-muted Sotto
        img(src='/assets/img/places/sotto.png').img-fluid.rounded
    div.col-xs-12.h2.pt-3.pb-2 Entertainment
    div.pic.col-xs-12.col-md-6.wow.fadeInLeft.text-xs-center.mb-1
      a(href='https://www.google.com/maps/place/Great+American+Ball+Park/@39.0979313,-84.510345,17z/data=!3m1!4b1!4m5!3m4!1s0x8841b143589c062f:0x7638b0b25d4ed72!8m2!3d39.0979313!4d-84.508151?hl=en')
        h4.title.display-5.text-muted Great American Ball Park
        img(src='/assets/img/places/gabp.png').img-fluid.rounded
    div.pic.col-xs-12.col-md-6.wow.fadeInLeft.text-xs-center.mb-1
      a(href='http://thebankscincy.com/')
        h4.title.display-5.text-muted The Banks
        img(src='/assets/img/places/banks.png').img-fluid.rounded
    div.pic.col-xs-12.col-md-6.wow.fadeInLeft.text-xs-center.mb-1
      a(href='https://www.yelp.com/biz/halfcut-cincinnati')
        h4.title.display-5.text-muted Halfcut
        img(src='/assets/img/places/hc.png').img-fluid.rounded
    div.pic.col-xs-12.col-md-6.wow.fadeInLeft.text-xs-center.mb-1
      a(href='https://www.yelp.com/biz/oak-tavern-cincinnati/')
        h4.title.display-5.text-muted Oak Tavern
        img(src='/assets/img/places/oak.png').img-fluid.rounded

br
br
br

router-outlet
