header
div.container
  div.row.py-3
    div.col-xs-12.col-md-6.wow.fadeInLeft.text-xs-center
      br
      h2.display-5 Accommodations
        br
        small.text-muted Hyatt Regency Hotel
        br
        a(href='https://www.google.com/maps/place/Hyatt+Regency+Cincinnati/@39.1003631,-84.5178257,17z/data=!3m1!4b1!4m7!3m6!1s0x8841b1519f3ce50f:0x86fb8e148252757!5m1!1s2018-03-31!8m2!3d39.100359!4d-84.515637')
          address.h6
            |   151 W 5th St
            br
            |  Cincinnati, OH
            br
            |  45202
        br
        a(target='_blank' href='https://book.passkey.com/event/49588466/owner/2603/home').btn.btn-secondary.btn-lg Book With Group Rate
    div.col-xs-12.col-md-6.wow.fadeInLeft
      img(src='/assets/img/wedding/hotel.jpg').img-fluid.img-thumbnail
  div.row.h3.text-xs-center
    div.col-xs-12.h2.pt-3.pb-2 Eateries
    div.pic.col-xs-12.col-md-6.wow.fadeInLeft.text-xs-center.mb-1
      a(href='https://www.yelp.com/biz/taste-of-belgium-cincinnati-10')
        h4.title.display-5.text-muted Taste of Belgium
        img(src='/assets/img/places/taste.jpg').img-fluid.rounded
    div.pic.col-xs-12.col-md-6.wow.fadeInLeft.text-xs-center.mb-1
      a(href='https://www.yelp.com/biz/kruegers-tavern-cincinnati')
        h4.title.display-5.text-muted Kruegers
        img(src='/assets/img/places/kruegers.jpg').img-fluid.rounded
    div.pic.col-xs-12.col-md-6.wow.fadeInLeft.text-xs-center.mb-1
      a(href='https://www.yelp.com/biz/skyline-chili-covington-2')
        h4.title.display-5.text-muted Skyline
        img(src='/assets/img/places/skyline.png').img-fluid.rounded
    div.pic.col-xs-12.col-md-6.wow.fadeInLeft.text-xs-center.mb-1
      a(href='https://www.yelp.com/biz/graeters-ice-cream-cincinnati-12')
        h4.title.display-5.text-muted Graeters
        img(src='/assets/img/places/graeters.jpg').img-fluid.rounded
    div.col-xs-12.h2.pt-3.pb-2 Entertainment
    div.pic.col-xs-12.col-md-6.wow.fadeInLeft.text-xs-center.mb-1
      a(href='https://www.google.com/maps/place/Great+American+Ball+Park/@39.0979313,-84.510345,17z/data=!3m1!4b1!4m5!3m4!1s0x8841b143589c062f:0x7638b0b25d4ed72!8m2!3d39.0979313!4d-84.508151?hl=en')
        h4.title.display-5.text-muted Taft's Ale House
        img(src='/assets/img/places/tafts.jpg').img-fluid.rounded
    div.pic.col-xs-12.col-md-6.wow.fadeInLeft.text-xs-center.mb-1
      a(href='http://thebankscincy.com/')
        h4.title.display-5.text-muted The Banks
        img(src='/assets/img/places/banks.png').img-fluid.rounded
    div.pic.col-xs-12.col-md-6.wow.fadeInLeft.text-xs-center.mb-1
      a(href='https://www.google.com/maps/place/Mount+Adams,+Cincinnati,+OH+45202/@39.1104764,-84.5036978,15z/data=!3m1!4b1!4m5!3m4!1s0x8841b3d920a22add:0x27f625a31483e2d4!8m2!3d39.1091295!4d-84.4946871')
        h4.title.display-5.text-muted Mount Adams
        img(src='/assets/img/places/mountadams.jpg').img-fluid.rounded
    div.pic.col-xs-12.col-md-6.wow.fadeInLeft.text-xs-center.mb-1
      a(href='https://www.google.com/maps/place/Over-The-Rhine,+Cincinnati,+OH/@39.1151275,-84.5271007,15z/data=!3m1!4b1!4m5!3m4!1s0x8841b3f93c470c51:0x3c5f36f7cdfaefac!8m2!3d39.1128357!4d-84.5182866')
        h4.title.display-5.text-muted Over the Rhine
        img(src='/assets/img/places/otr.jpg').img-fluid.rounded

br
br
br

router-outlet
