header
div.container
  div.row.py-3
    div.col-xs-12.col-md-6.wow.fadeInLeft.text-xs-center
      br
      h2.display-5 Accomodations
        br
        small.text-muted Courtyard Mariott
        br
        a(href='https://www.google.com/maps/place/Courtyard+Cincinnati+Covington/@39.0881125,-84.5217984,17z/data=!3m1!4b1!4m5!3m4!1s0x8841b1358de7b3b3:0x78473d413e5b29cd!8m2!3d39.0881125!4d-84.5196097')
          address.h6
            |   500 W 3rd St
            br
            |  Covington, KY
            br
            |  41011
    div.col-xs-12.col-md-6.wow.fadeInLeft
      img(src='/assets/img/wedding/hotel.jpg').img-fluid.img-thumbnail
  div.py-3.party
    div.row.text-xs-center
      h2.display-5.mx-auto Wedding Party
    br
    div.row
      div.col-xs-12.col-md-6
        ul.list-unstyled
          li
            img.rounded-circle(src='https://randomuser.me/api/portraits/med/men/41.jpg')
            span Carly Schott
            span.text-muted Maid of Honor
          li
            img.rounded-circle(src='https://randomuser.me/api/portraits/med/men/4.jpg')
            span Julie Schott
            span.text-muted Maid of Honor
          li
            img.rounded-circle(src='https://randomuser.me/api/portraits/med/men/51.jpg')
            span Katy Bachman
            span.text-muted Bridesmaid
          li
            img.rounded-circle(src='https://randomuser.me/api/portraits/med/men/61.jpg')
            span Katie Christy
            span.text-muted Bridesmaid
          li
            img.rounded-circle(src='https://randomuser.me/api/portraits/med/men/71.jpg')
            span Kate Grimm
            span.text-muted Bridesmaid
          li
            img.rounded-circle(src='https://randomuser.me/api/portraits/med/men/81.jpg')
            span Amy Kenney
            span.text-muted Bridesmaid
          li
            img.rounded-circle(src='https://randomuser.me/api/portraits/med/men/91.jpg')
            span Courtney Hogg
            span.text-muted Bridesmaid
          li
            img.rounded-circle(src='https://randomuser.me/api/portraits/med/men/43.jpg')
            span Sydney Horton
            span.text-muted Bridesmaid
          li
            img.rounded-circle(src='https://randomuser.me/api/portraits/med/men/45.jpg')
            span Lauren Schaller
            span.text-muted Bridesmaid
          li
            img.rounded-circle(src='https://randomuser.me/api/portraits/med/men/46.jpg')
            span Elizabeth Stegeman
            span.text-muted Bridesmaid
      div.col-xs-12.col-md-6
        ul.list-unstyled
          li
            img.rounded-circle(src='https://randomuser.me/api/portraits/med/men/61.jpg')
            span Dave Giblin
            span.text-muted Best Man
          li
            img.rounded-circle(src='https://randomuser.me/api/portraits/med/men/62.jpg')
            span Drew Albrecht
            span.text-muted Groomsman
          li
            img.rounded-circle(src='https://randomuser.me/api/portraits/med/men/63.jpg')
            span Tim Buckley
            span.text-muted Groomsman
          li
            img.rounded-circle(src='https://randomuser.me/api/portraits/med/men/64.jpg')
            span Dan Giblin
            span.text-muted Groomsman
          li
            img.rounded-circle(src='https://randomuser.me/api/portraits/med/men/65.jpg')
            span Matt Held
            span.text-muted Groomsman
          li
            img.rounded-circle(src='https://randomuser.me/api/portraits/med/men/66.jpg')
            span Andrew Holthaus
            span.text-muted Groomsman
          li
            img.rounded-circle(src='https://randomuser.me/api/portraits/med/men/67.jpg')
            span Drew Mahoney
            span.text-muted Groomsman
          li
            img.rounded-circle(src='https://randomuser.me/api/portraits/med/men/68.jpg')
            span Craig Rother
            span.text-muted Groomsman
          li
            img.rounded-circle(src='https://randomuser.me/api/portraits/med/men/69.jpg')
            span Kevin Schott
            span.text-muted Groomsman
          li
            img.rounded-circle(src='https://randomuser.me/api/portraits/med/men/60.jpg')
            span Robert Sieber
            span.text-muted Groomsman
router-outlet
