@import '../app.images';

header {
  background-image: $img-tree;
}

.title {
  position: absolute;
  right: 6%;
  bottom: 2%;
  color: white !important;
  font-size: 16px;
  background: rgba(179,179,179, 0.5);
  padding: 3px;
  border-radius: 4px;
}

.pic {
  height: 260px;
  overflow: hidden;
  // img {
  //   height: 100%;
  //   width: inherit;
  // }
}
