header
div.container
  div.row.py-3
    div.col-xs-12.col-md-6.wow.fadeInLeft.text-xs-center
      br
      h2.display-5 Accomodations
        br
        small.text-muted Courtyard Mariott
        br
        a(href='https://www.google.com/maps/place/Courtyard+Cincinnati+Covington/@39.0881125,-84.5217984,17z/data=!3m1!4b1!4m5!3m4!1s0x8841b1358de7b3b3:0x78473d413e5b29cd!8m2!3d39.0881125!4d-84.5196097')
          address.h6
            |   500 W 3rd St
            br
            |  Covington, KY
            br
            |  41011
    div.col-xs-12.col-md-6.wow.fadeInLeft
      img(src='/assets/img/wedding/hotel.jpg').img-fluid.img-thumbnail
  div.py-3.party
    div.row.text-xs-center
      h2.display-5.mx-auto Wedding Party
    br
    div.row
      div.col-xs-12.col-md-6
        ul.list-unstyled
          li
            div.row
              div.col-xs-12.col-sm-3
                img.rounded-circle(src='/assets/img/peeps/carly.jpg')
              div.col-xs-12.col-sm-9
                div.who Carly Schott
                div.what.text-muted Maid of Honor
          li
            div.row
              div.col-xs-12.col-sm-3
                img.rounded-circle(src='/assets/img/peeps/julie.jpg')
              div.col-xs-12.col-sm-9
                div.who Julie Schott
                div.what.text-muted Maid of Honor
          li
            div.row
              div.col-xs-12.col-sm-3
                img.rounded-circle(src='/assets/img/peeps/katy.jpg')
              div.col-xs-12.col-sm-9
                div.who Katy Bachman
                div.what.text-muted Bridesmaid
          li
            div.row
              div.col-xs-12.col-sm-3
                img.rounded-circle(src='/assets/img/peeps/kc.jpg')
              div.col-xs-12.col-sm-9
                div.who Katie Christy
                div.what.text-muted Bridesmaid
          li
            div.row
              div.col-xs-12.col-sm-3
                img.rounded-circle(src='/assets/img/peeps/kate.jpg')
              div.col-xs-12.col-sm-9
                div.who Kate Grimm
                div.what.text-muted Bridesmaid
          li
            div.row
              div.col-xs-12.col-sm-3
                img.rounded-circle(src='/assets/img/peeps/amy.jpg')
              div.col-xs-12.col-sm-9
                div.who Amy Kenney
                div.what.text-muted Bridesmaid
          li
            div.row
              div.col-xs-12.col-sm-3
                img.rounded-circle(src='/assets/img/peeps/court.jpg')
              div.col-xs-12.col-sm-9
                div.who Courtney Hogg
                div.what.text-muted Bridesmaid
          li
            div.row
              div.col-xs-12.col-sm-3
                img.rounded-circle(src='/assets/img/peeps/sydney.jpg')
              div.col-xs-12.col-sm-9
                div.who Sydney Horton
                div.what.text-muted Bridesmaid
          li
            div.row
              div.col-xs-12.col-sm-3
                img.rounded-circle(src='/assets/img/peeps/lauren.jpg')
              div.col-xs-12.col-sm-9
                div.who Lauren Schaller
                div.what.text-muted Bridesmaid
          li
            div.row
              div.col-xs-12.col-sm-3
                img.rounded-circle(src='/assets/img/peeps/eliz.jpg')
              div.col-xs-12.col-sm-9
                div.who Elizabeth Stegeman
                div.what.text-muted Bridesmaid
      div.col-xs-12.col-md-6
        ul.list-unstyled
          li
            div.row
              div.col-xs-12.col-sm-3
                img.rounded-circle(src='/assets/img/peeps/dave.jpg')
              div.col-xs-12.col-sm-9
                div.who Dave Giblin
                div.what.text-muted Groomsman
          li
            div.row
              div.col-xs-12.col-sm-3
                img.rounded-circle(src='/assets/img/peeps/q.jpg')
              div.col-xs-12.col-sm-9
                div.who Drew Albrecht
                div.what.text-muted Groomsman
          li
            div.row
              div.col-xs-12.col-sm-3
                img.rounded-circle(src='/assets/img/peeps/buck.jpg')
              div.col-xs-12.col-sm-9
                div.who Tim Buckley
                div.what.text-muted Groomsman
          li
            div.row
              div.col-xs-12.col-sm-3
                img.rounded-circle(src='/assets/img/peeps/dan.jpg')
              div.col-xs-12.col-sm-9
                div.who Dan Giblin
                div.what.text-muted Groomsman
          li
            div.row
              div.col-xs-12.col-sm-3
                img.rounded-circle(src='/assets/img/peeps/held.png')
              div.col-xs-12.col-sm-9
                div.who Matt Held
                div.what.text-muted Groomsman
          li
            div.row
              div.col-xs-12.col-sm-3
                img.rounded-circle(src='/assets/img/peeps/qh.jpg')
              div.col-xs-12.col-sm-9
                div.who Andrew Holthaus
                div.what.text-muted Groomsman
          li
            div.row
              div.col-xs-12.col-sm-3
                img.rounded-circle(src='/assets/img/peeps/cone.jpg')
              div.col-xs-12.col-sm-9
                div.who Drew Mahoney
                div.what.text-muted Groomsman
          li
            div.row
              div.col-xs-12.col-sm-3
                img.rounded-circle(src='/assets/img/peeps/craig.png')
              div.col-xs-12.col-sm-9
                div.who Craig Rother
                div.what.text-muted Groomsman
          li
            div.row
              div.col-xs-12.col-sm-3
                img.rounded-circle(src='/assets/img/peeps/kevin.jpg')
              div.col-xs-12.col-sm-9
                div.who Kevin Schott
                div.what.text-muted Groomsman
          li
            div.row
              div.col-xs-12.col-sm-3
                img.rounded-circle(src='/assets/img/peeps/robert.jpg')
              div.col-xs-12.col-sm-9
                div.who Robert Sieber
                div.what.text-muted Groomsman
router-outlet
