header
div.container
  div.row
    div.col-xs-12.col-md-6.wow.fadeInUp.py-3
      h2.display-5 The Ceremony
        br
        small.text-muted Old Saint Mary's Catholic Church
        br
        a(href='https://www.google.com/maps/place/Old+St.+Marys+Church/@39.1094933,-84.5145431,17z/data=!3m1!4b1!4m5!3m4!1s0x8841b3fd4fdfbcd3:0x4a8c3164ef6154ab!8m2!3d39.1094933!4d-84.5123491')
          address.h6
            |  23 E 13th Street
            br
            |  Cincinnati, OH
            br
            |  45202
      div
        br
        br
        img(src='/assets/img/wedding/old-st-mary.jpg').rounded

    div.col-xs-12.col-md-6.wow.fadeInUp.py-3
      h2.display-5 The Reception
        br
        small.text-muted Drees Pavilion at Devou Park
        br
        a(href='https://www.google.com/maps/place/Drees+Pavilion/@39.082122,-84.5294305,17z/data=!3m1!4b1!4m5!3m4!1s0x8841b6cc1f63e1ef:0xeb65ac11d18017d7!8m2!3d39.082122!4d-84.5272365')
          address.h6
            |  790 Park Lane
            br
            |  Covington, KY
            br
            |  41011
      div
        br
        br
        img(src='/assets/img/wedding/drees.jpg').rounded
  div.col-xs-12
    div.py-3.party
      div.row.text-xs-center
        h2.display-5.mx-auto Wedding Party
      br
      br
      div.row
        div.col-xs-12.col-md-6
          ul.list-unstyled
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/carly.png')
                div.col-xs-12.col-sm-9
                  div.who Carly Schott
                  div.what.text-muted Maid of Honor
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/julie.png')
                div.col-xs-12.col-sm-9
                  div.who Julie Schott
                  div.what.text-muted Maid of Honor
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/katy.jpg')
                div.col-xs-12.col-sm-9
                  div.who Katy Bachman
                  div.what.text-muted Bridesmaid
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/kc.jpg')
                div.col-xs-12.col-sm-9
                  div.who Katie Christy
                  div.what.text-muted Bridesmaid
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/kate.jpg')
                div.col-xs-12.col-sm-9
                  div.who Kate Grimm
                  div.what.text-muted Bridesmaid
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/amy.png')
                div.col-xs-12.col-sm-9
                  div.who Amy Kenney
                  div.what.text-muted Bridesmaid
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/court.png')
                div.col-xs-12.col-sm-9
                  div.who Courtney Hogg
                  div.what.text-muted Bridesmaid
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/sydney.png')
                div.col-xs-12.col-sm-9
                  div.who Sydney Horton
                  div.what.text-muted Bridesmaid
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/lauren.jpg')
                div.col-xs-12.col-sm-9
                  div.who Lauren Schaller
                  div.what.text-muted Bridesmaid
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/eliz.jpg')
                div.col-xs-12.col-sm-9
                  div.who Elizabeth Stegeman
                  div.what.text-muted Bridesmaid
        div.col-xs-12.col-md-6
          ul.list-unstyled
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/dave.jpg')
                div.col-xs-12.col-sm-9
                  div.who Dave Giblin
                  div.what.text-muted Groomsman
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/q.jpg')
                div.col-xs-12.col-sm-9
                  div.who Drew Albrecht
                  div.what.text-muted Groomsman
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/buck.jpg')
                div.col-xs-12.col-sm-9
                  div.who Tim Buckley
                  div.what.text-muted Groomsman
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/dan.jpg')
                div.col-xs-12.col-sm-9
                  div.who Dan Giblin
                  div.what.text-muted Groomsman
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/held.png')
                div.col-xs-12.col-sm-9
                  div.who Matt Held
                  div.what.text-muted Groomsman
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/qh.jpg')
                div.col-xs-12.col-sm-9
                  div.who Andrew Holthaus
                  div.what.text-muted Groomsman
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/cone.jpg')
                div.col-xs-12.col-sm-9
                  div.who Drew Mahoney
                  div.what.text-muted Groomsman
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/craig.png')
                div.col-xs-12.col-sm-9
                  div.who Craig Rother
                  div.what.text-muted Groomsman
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/kevin.jpg')
                div.col-xs-12.col-sm-9
                  div.who Kevin Schott
                  div.what.text-muted Groomsman
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/robert.jpg')
                div.col-xs-12.col-sm-9
                  div.who Robert Sieber
                  div.what.text-muted Groomsman
