header
div.container
  div.row.py-3
    div.col-xs-12.col-md-6.wow.fadeInLeft
      h2.display-5 The Ceremony
        br
        small.text-muted Old Saint Mary's
        br
        a(href='https://www.google.com/maps/place/Old+St.+Marys+Church/@39.1094933,-84.5145431,17z/data=!3m1!4b1!4m5!3m4!1s0x8841b3fd4fdfbcd3:0x4a8c3164ef6154ab!8m2!3d39.1094933!4d-84.5123491')
          address.h6
            |  23 E 13th Street
            br
            |  Cincinnati, OH
            br
            |  45202
      div
        img(src='/assets/img/wedding/church.png')

    div.col-xs-12.col-md-6.wow.fadeInLeft
      h2.display-5 The Reception
        br
        small.text-muted Drees Pavilion at Devou Park
        br
        a(href='https://www.google.com/maps/place/Drees+Pavilion/@39.082122,-84.5294305,17z/data=!3m1!4b1!4m5!3m4!1s0x8841b6cc1f63e1ef:0xeb65ac11d18017d7!8m2!3d39.082122!4d-84.5272365')
          address.h6
            |  790 Park Lane
            br
            |  Covington, KY
            br
            |  41011
      div
        br
        br
        img(src='/assets/img/wedding/reception.png')
