header
div.container
  div.row
    div.col-xs-12.col-md-6.wow.fadeInUp.py-3
      h2.display-5 The Ceremony
        br
        small.text-muted St. Rose Church
        br
        a(href='https://www.google.com/maps/place/St.+Rose+Church/@39.1237288,-84.463902,17z/data=!3m1!4b1!4m5!3m4!1s0x8841b23e5967db23:0x8e1f1c12965517a3!8m2!3d39.1237247!4d-84.4617133')
          address.h6
            |  2501 Riverside Drive
            br
            |  Cincinnati, OH
            br
            |  45202
      div
        br
        br
        img(src='/assets/img/places/st-rose.jpeg').rounded

    div.col-xs-12.col-md-6.wow.fadeInUp.py-3
      h2.display-5 The Reception
        br
        small.text-muted The Phoenix
        br
        a(href='https://www.google.com/maps/place/The+Phoenix/@39.1049207,-84.5175282,17z/data=!3m1!4b1!4m5!3m4!1s0x8841b156eb1fcc2f:0xe3a1ab9328ae49c5!8m2!3d39.1049166!4d-84.5153395')
          address.h6
            |  812 Race Street
            br
            |  Cincinnati, OH
            br
            |  45202
        br
          span Parking for the Phoenix is at Garfield Garage. Ask your bartender for your parking voucher
      div
        br
        br
        img(src='/assets/img/places/phoenix.jpg').rounded
  div.col-xs-12
    div.py-3.party
      div.row.text-xs-center
        h2.display-5.mx-auto Wedding Party
      br
      br
      div.row
        div.col-xs-12.col-md-6
          ul.list-unstyled
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/carly.png')
                div.col-xs-12.col-sm-9
                  div.who Carly Schott
                  div.what.text-muted Maid of Honor
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/mary.png')
                div.col-xs-12.col-sm-9
                  div.who Mary Giblin
                  div.what.text-muted Matron of Honor
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/elizabeth-w.png')
                div.col-xs-12.col-sm-9
                  div.who Elizabeth Witchger
                  div.what.text-muted Bridesmaid
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/catherine-w.png')
                div.col-xs-12.col-sm-9
                  div.who Catherine Witchger
                  div.what.text-muted Bridesmaid
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/cindy.png')
                div.col-xs-12.col-sm-9
                  div.who Cindy Casey
                  div.what.text-muted Bridesmaid
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/caroline.png')
                div.col-xs-12.col-sm-9
                  div.who Caroline Baritot
                  div.what.text-muted Bridesmaid
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/kroeger.png')
                div.col-xs-12.col-sm-9
                  div.who Maggie Kroeger
                  div.what.text-muted Bridesmaid
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/pettit.png')
                div.col-xs-12.col-sm-9
                  div.who Laura Pettit
                  div.what.text-muted Bridesmaid
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/elinore.png')
                div.col-xs-12.col-sm-9
                  div.who Eleanore Hilow
                  div.what.text-muted Bridesmaid
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/molly.png')
                div.col-xs-12.col-sm-9
                  div.who Molly Mahoney
                  div.what.text-muted Bridesmaid
        div.col-xs-12.col-md-6
          ul.list-unstyled
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/gene-w.jpg')
                div.col-xs-12.col-sm-9
                  div.who Gene Witchger
                  div.what.text-muted Best Man
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/peter-w.jpg')
                div.col-xs-12.col-sm-9
                  div.who Peter Witchger
                  div.what.text-muted Best Man
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/joe-w.jpg')
                div.col-xs-12.col-sm-9
                  div.who Joe Witchger
                  div.what.text-muted Groomsman
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/sam-w.jpg')
                div.col-xs-12.col-sm-9
                  div.who Sam Witchger
                  div.what.text-muted Groomsman
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/kevin-schott.jpg')
                div.col-xs-12.col-sm-9
                  div.who Kevin Schott
                  div.what.text-muted Groomsman
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/kevin-bowen.jpg')
                div.col-xs-12.col-sm-9
                  div.who Kevin Bowen
                  div.what.text-muted Groomsman
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/sean-esposito.jpg')
                div.col-xs-12.col-sm-9
                  div.who Sean Esposito
                  div.what.text-muted Groomsman
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/joey-warstler.jpg')
                div.col-xs-12.col-sm-9
                  div.who Joey Warstler
                  div.what.text-muted Groomsman
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/brian-shelbourn.jpg')
                div.col-xs-12.col-sm-9
                  div.who Brian Shelbourn
                  div.what.text-muted Groomsman
            li
              div.row
                div.col-xs-12.col-sm-3
                  img.rounded-circle(src='/assets/img/peeps/drew-wurst.jpg')
                div.col-xs-12.col-sm-9
                  div.who Drew Wurst
                  div.what.text-muted Groomsman
