@import "../app.images";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

header {
  background-image: $img-5778;
}

@include media-breakpoint-down(xs) {
  header {
    background-position-x: 100%;
  }
}

div {
  text-align: center;
}

img {
  height: 220px;
}

.party {
  li {
    font-size: 18px;
    margin-bottom: 15px;
    img {
      height: 100px;
    }
    .who {
      font-size: 28px;
    }
    .what {
      padding-left: 10px;
    }
  }
}
