nav.navbar.navbar-full.navbar-dark.bg-primary
  .container
    a.navbar-brand(href='/') pug
    ul.nav.navbar-nav.pull-xs-right
      li.nav-item
        a.nav-link(href='https://github.com/pugjs/pug') GitHub
  .div.text-xs-center hello!
