header
nav.navbar.navbar-full.navbar-dark
  div.container
    div.row
      //- div.col-xs-12.coming-soon Coming Soon
      div.col-xs-12.col-md-4
        a.hvr-float-shadow(href='https://www.macys.com/wgl/registry/guest/6899941' target='_blank')
          img.wow.rubberBand.img-fluid(src="/assets/img/registry/macys.png")
      div.col-xs-12.col-md-4
        a.hvr-float-shadow(href='https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&inventoryCallEnabled=true&registryId=545630468&pwsurl=' target='_blank')
          img.wow.jello.img-fluid(src="/assets/img/registry/bbb.png")
      div.col-xs-12.col-md-4
        a.hvr-float-shadow(href='https://www.amazon.com/wedding/holton-witchger-julie-schott-cincinnati-july-2018/registry/3JY3V9M0L1S8P' target='_blank')
          img.wow.jello.img-fluid(src="/assets/img/registry/amazon.png")
