header
nav.navbar.navbar-full.navbar-dark
  div.container
    div.row
      div.col-xs-12.col-md-6
        img.wow.rotateInUpRight(src="/assets/img/registry/macys.png")
      div.col-xs-12.col-md-6
        img.wow.flipInX(src="/assets/img/registry/bbb.png")
