header
nav.navbar.navbar-full.navbar-dark
  div.container
    div.row
      //- div.col-xs-12.coming-soon Coming Soon
      div.col-xs-12.col-md-6
        a.hvr-float-shadow(href='https://www.macys.com/wgl/registry/guest/6683437' target='_blank')
          img.wow.rubberBand.img-fluid(src="/assets/img/registry/macys.png")
      div.col-xs-12.col-md-6
        a.hvr-float-shadow(href='https://www.bedbathandbeyond.com:443/store/giftregistry/view_registry_guest.jsp?registryId=543947704&eventType=Wedding&pwsurl=' target='_blank')
          img.wow.jello.img-fluid(src="/assets/img/registry/bbb.png")
