.navbar {
  background: pink;
  a {
    color: pink;
  }
}

header {
  background-image: -webkit-linear-gradient(left,
    #fff 0%,
    rgba(0,0,0,0) 20%,
    rgba(0,0,0,0) 80%,
    rgba(0,0,0,0) 100%   ),
    url("/assets/img/otr.png");
  // background-position-y: -400px;
}
