header
nav.navbar.navbar-full.navbar-dark
  div.container
    div.row
      div.col-xs-12.coming-soon Coming Soon
      div.col-xs-12.col-md-6
        img.wow.rubberBand(src="/assets/img/registry/macys.png")
      div.col-xs-12.col-md-6
        img.wow.jello(src="/assets/img/registry/bbb.png")
