nav.navbar.navbar-light.main.nav
  div.container.text-xs-center
    ul.nav.navbar-nav.pull-xs-left
      li.nav-item
        a.nav-link([routerLink]="['./about']") About
      li.nav-item
        a.nav-link([routerLink]="['./about']") About
    ul.nav.navbar-nav
      li.nav-item
        a.nav-link([routerLink]="['./']") Website Name
    ul.nav.navbar-nav.pull-xs-right
      li.nav-item
        a.nav-link([routerLink]="['./about']") About
      li.nav-item
        a.nav-link([routerLink]="['./about']") About
main
  router-outlet
pre.app-state.
  \nthis.appState.state = {{ appState.state | json }}
footer
  span
    | WebPack Angular 2 Starter by
    a([href]='url') @AngularClass
  div
    a([href]='url')
      img([src]='angularclassLogo', width='25%')
