// $img-field: url('/assets/img/hero/field.png');
$img-pattern: url("/assets/img/patterns/7.jpg");
// $img-otr: url('/assets/img/hero/otr.png');
// $img-tree: url("/assets/img/hero/tree.png");
// $img-ivy: url('/assets/img/hero/ivy.png');
$img-ring-shoulder: url("/assets/img/hero/ring-shoulder.png");
// $img-rings: url('/assets/img/hero/rings.png');
// $img-kiss: url("/assets/img/hero/kiss.png");
// $img-silhouettes: url("/assets/img/hero/silhouettes.png");
$img-pillars: url("/assets/img/hero/pillars.png");
$img-flowers: url("/assets/img/hero/flowers.png");
// $img-entrance: url("/assets/img/hero/entrance.png");
$img-steps: url("/assets/img/hero/steps.png");
// $img-4423: url("/assets/img/hero/IMG_4423.jpg");
$img-5148: url("/assets/img/hero/IMG_5148.jpg");
$img-5157: url("/assets/img/hero/IMG_5157.jpg");
// $img-5353: url("/assets/img/hero/IMG_5353.jpg");
$img-5439: url("/assets/img/hero/IMG_5439.jpg");
$img-5506: url("/assets/img/hero/IMG_5506.jpg");
// $img-5709: url("/assets/img/hero/IMG_5709.jpg");
$img-5778: url("/assets/img/hero/IMG_5778.jpg");
// $img-5988: url("/assets/img/hero/IMG_5988.png");
// $img-6045: url("/assets/img/hero/IMG_6045.jpg");
// $img-6142: url("/assets/img/hero/IMG_6142.png");
$img-couple: url("/assets/img/hero/the-naked-wrist-couple.jpg");

// $preloaded-images: $img-pattern $img-kiss $img-tree $img-ring-shoulder
//   $img-flowers $img-silhouettes $img-pillars $img-entrance $img-steps;
$preloaded-images: $img-5506 $img-5778 $img-5439 $img-5157 $img-5148 $img-couple;
