$img-field: url('/assets/img/field.png');
$img-otr: url('/assets/img/otr.png');
$img-tree: url('/assets/img/tree.png');
$img-ivy: url('/assets/img/ivy.png');
$img-ring-shoulder: url('/assets/img/ring-shoulder.png');
$img-rings: url('/assets/img/rings.png');

$preloaded-images: $img-field $img-otr $img-tree $img-ivy $img-ring-shoulder $img-rings;
