@import 'app.functions', 'app.mixins', 'app.images';
$font-primary: 'IM Fell Double Pica SC'; // Poiret One, Text Me One, IM Fell Double Pica SC
$font-fancy: 'Dancing Script';
@import url('https://fonts.googleapis.com/css?family=#{str-replace($font-primary, " ", "+")}|#{str-replace($font-fancy, " ", "+")}');
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins/_breakpoints.scss';

* {
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: .6px #fff;
}

.text-fancy {
  font-family: $font-fancy;
}

a {
  text-decoration: none;
  &:hover {
    opacity: .8;
    // color: white;
  }
  &:hover, &:focus {
    text-decoration: none;
    outline: none;
  }
}

header {
  background-image: url(http://placehold.it/1750x550);
  height: 510px;
  background-size: cover;
  background-position-y: 50%;
  background-repeat: no-repeat;
}

@include media-breakpoint-up(lg) {
  header {
    height: 710px;
  }
}

nav.navbar {
  background: transparent;
  position: absolute;
  width: 100%;
  &.bg-light {
    background: linear-gradient(to bottom, rgba(201,201,201,1), rgba(255,0,0,0));
    padding-bottom: 120px;
  }
  &.bg-dark {
    background: linear-gradient(to bottom, #565656, rgba(255,0,0,0));
    padding-bottom: 120px;
  }
  .navbar-nav {
    .nav-item {
      margin: 0 20px;
      .nav-link {
        color: white;
        font-size: 18px;
          border-bottom: 2px solid transparent;
        &.active {
          border-bottom-color: white;
        }
      }
    }
  }
}

body::after {
  display: none;
  content: $preloaded-images;
}
