$img-field: url('/assets/img/hero/field.png');
// $img-otr: url('/assets/img/hero/otr.png');
$img-tree: url('/assets/img/hero/tree.png');
$img-ivy: url('/assets/img/hero/ivy.png');
$img-ring-shoulder: url('/assets/img/hero/ring-shoulder.png');
// $img-rings: url('/assets/img/hero/rings.png');
$img-kiss: url('/assets/img/hero/kiss.png');
$img-silhouettes: url('/assets/img/hero/silhouettes.png');
$img-pillars: url('/assets/img/hero/pillars.png');

$preloaded-images: $img-field $img-tree $img-ivy $img-ring-shoulder $img-kiss $img-silhouettes $img-pillars;
