//
  nav.navbar.navbar-light.main.nav
    div.container.text-xs-center
      ul.nav.navbar-nav.pull-xs-left
        li.nav-item
          a.nav-link([routerLink]="['./about']") About
        li.nav-item
          a.nav-link([routerLink]="['./about']") About
      ul.nav.navbar-nav
        li.nav-item
          a.nav-link([routerLink]="['./']") Website Name
      ul.nav.navbar-nav.pull-xs-right
        li.nav-item
          a.nav-link([routerLink]="['./about']") About
        li.nav-item
          a.nav-link([routerLink]="['./about']") About

nav.navbar.navbar-light.bg-faded
  button.navbar-toggler.hidden-lg-up(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
  #navbarResponsive.collapse.navbar-toggleable-md
    ul.nav.navbar-nav.col-lg-5.d-inline-block.text-lg-right
      li.nav-item.float-lg-right
        a.nav-link([routerLink]="['./our-story']") Our Story
      li.nav-item.float-lg-right
        a.nav-link([routerLink]="['./our-wedding']") Our Wedding
    div.nav.navbar-nav.col-lg-2.d-inline-block.text-lg-center
      a([href]='url')
        img([src]='angularclassLogo')
    ul.nav.navbar-nav.col-lg-5.d-inline-block.text-lg-left
      li.nav-item
        a.nav-link([routerLink]="['./details']") Details
      li.nav-item
        a.nav-link([routerLink]="['./registry']") Registry




main
  router-outlet
pre.app-state.
  \nthis.appState.state = {{ appState.state | json }}
footer
  span
    | WebPack Angular 2 Starter by
    a([href]='url') @AngularClass
  div
