header
div.container
  div.row.pt-3
    div.col-xs-12.col-md-5.pt-3.wow.fadeIn
      h2.display-5 The First Sight
        br
        small.text-muted 8.15.2008
    div.col-xs-12.col-md-7.wow.rotateInUpLeft
      img(src='/assets/img/story/first-meeting.svg')
  div.row.py-3
    div.col-md-5.push-md-7.pt-3.wow.fadeIn
      h2.display-5 The First Date
        br
        small.text-muted 5.29.2016
    div.col-md-7.pull-md-5.wow.rotateInUpRight
      img(src='/assets/img/story/first-date.svg')
  div.row.py-3
    div.col-xs-12.col-md-5.pt-3.wow.fadeIn
      h2.display-5 The First Kiss
        br
        small.text-muted 7.31.2016
    div.col-xs-12.col-md-7.wow.rotateInUpLeft
      img(src='/assets/img/story/first-kiss.svg')
  div.row.py-3
    div.col-md-5.push-md-7.pt-3.wow.fadeIn
      h2.display-5 The Proposal
        br
        small.text-muted 12.15.2017
    div.col-md-7.pull-md-5.wow.rotateInUpRight
      img(src='/assets/img/story/the-proposal.svg')
  div.row.pb-3
    div.col-xs-12.col-md-5.pt-3.wow.fadeIn
      h2.display-5 The Wedding
        br
        small.text-muted 7.7.2018
    div.col-xs-12.col-md-7.wow.rotateInUpLeft
      img(src='/assets/img/story/the-wedding.svg')
