header
div.container
  div.row.pt-3
    div.col-xs-12.col-md-5
      h2.display-5 The First Meeting
        br
        small.text-muted With faded secondary text
    div.col-xs-12.col-md-7
      img(src='/assets/img/story/first-meeting.png')
  div.row.py-3
    div.col-xs-12.col-md-7
      p.lead Stuff here
    div.col-xs-12.col-md-5
      h3 The First Kiss
        small.text-muted With faded secondary text
