@import '../app.images';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins/_breakpoints.scss';


header {
  background-image: $img-kiss;
}

.wrapper {
  position: relative;
  text-align: center;
  margin: 50px 0;
}

object.video {
  max-width:100%;
  height:100%;
  width: 820px;
  height: 461.25px;
  float: none;
  clear: both;
  margin: 2px auto;
}

@include media-breakpoint-down(md) {
  iframe {
    width: 100%;
  }
}
