section.text-xs-center.text-white
  footer.container-fluid.pb-1
    div.row
      div.col-xs-12.col-md-6.text-xs-center.text-md-left
        div.text-fancy 7.7.2018
      div.col-xs-12.col-md-6.text-xs-center.text-md-right
        div.text-fancy {{timeaway}} away
