@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";
@import "../app.images";

section {
  // background: $img-field no-repeat right center fixed;
  // background: $img-pattern repeat right center fixed;
  // background-size: 590px !important;
  background: $img-5506;
  background-position-y: 60%;
}

@include media-breakpoint-up(xl) {
  section {
    background-size: cover;
  }
}

@include media-breakpoint-down(xs) {
  section {
    background: $img-couple no-repeat center center fixed;
    background-size: cover;
  }
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
