@import '../app.images';

section {
  background: $img-field no-repeat right center fixed;
  // background-size: cover;
  // background-position-y: -100px;
  // background-repeat: no-repeat;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
