@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins/_breakpoints.scss';
@import '../app.images';

section {
  background: $img-field no-repeat right center fixed;
}

@include media-breakpoint-up(xl) {
  section {
    background-size: cover;
  }
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
